.product-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 0;
}

.product-div {
    box-shadow: 5px 5px 5px 5px rgba(219, 95, 149, 0.5);
    transition: box-shadow 0.3s ease;
    height: 100%;
    border-radius: 8px;
}

.product-div p {
    width: 35vmin;
    font-size: 1rem;
}

.product-div:hover {
    box-shadow: 10px 10px 10px 12px rgba(193, 52, 113, 0.5);
}

.product-div h2 {
    color: #cb697f;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 70px;
    text-align: center;
}

.product-div button {
    font-size: 1.3rem;
    background-color: #cb697f;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
}

