* {
  margin: 0;
  padding: 0;
}

body {
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafaf8;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style-type: none;
    margin-right: 30px;
  }

.nav-logo {
    width: 200px;
    height: 200px;
}


.hero-video {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
}

/*Explore buttons */
.explore-btn {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore-bycategory-btn {
  font-size: 1.2rem;
  background-color: #cb697f;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
}

.explore-bycategory-btn:hover,
.explore-more-btn:hover {
  background-color: #f095a9;
}

.explore-more-btn {
  font-size: 20px;
  background-color: #cb697f;
  border:none;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

/* About me container */
#three-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100vw;
    overflow: hidden;
}

.card-container {
  background-color: rgb(236, 159, 171);
  height: auto;
  width: 80%;
  max-width: 400px;
  margin: 0 5%;
  box-shadow: 5px 5px 5px 5px rgba(219, 95, 149, 0.5);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-container:hover {
  box-shadow: 15px 10px 10px 15px rgba(237, 78, 147, 0.5);
}

.card-container h2 {
  font-size: 1.9rem;
  color:white;
}

.card-image {
  width: 80%;
  max-width: 200px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 50%; 
}

.about-me-btn {
  font-size: 18px;
  background-color: #cb697f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  display: flex ;
}

/* About me section */
#about-section {
  width: 100vw;
  overflow: hidden;
}

#about-section h2 {
  border-bottom: 3px solid #cb697f;
}

.about-container, .safety-container, .aftercare-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  font-size: 20px;
}
.about-text, .aftercare-text {
  margin-right: 30px;
}
.safety-text {
  margin-left: 30px;
}

.about-text p, 
.safety-text p, .aftercare-text p{
width: 85vmin;
}

.about-image, .tools-image, .aftercare-image {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.about-image, .aftercare-image {
  margin-right: 100px;
}

.tools-image {
  margin-left: 70px;
}

/*  Footer*/
footer{
  background-color:rgb(192, 89, 106);
  width: 100vw;
}


.social-icons {
  display: flex;
  justify-content: center;
  width:100%;
  padding-top: 50px;
}

.social-icons img {
  padding:8px;
  background-color: lightpink;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer-nav li a {
  color: white;
  margin: 0px 40px 0 10px;
  font-size: 18px;
  opacity: 0.7;
  transition:0.5s;
}

.footer-nav li a:hover {
  opacity: 1;
}

.footer-hours, .footer-location, .footer-contact {
  color:white;
  font-size: 15px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  color:white;
  background-color:rgb(178, 80, 96);
  font-size: 15px;
}


